# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List three development environment open source tools used in data science

## Author

Hannah White

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. JavaScript
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Plotly

|Data Science Tools|
|------------------|
|R Studio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = 60

minutes/hours

3.3333333333333335